
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p, span {
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 28px;
}

h2 {
  color: #333333;
  font-size: 22px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0px 10px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: #333;
}

input::placeholder {
  color: #ffffff; 
}

textarea::placeholder {
  color: #ffffff; 
}

select option {
  background-color: #0d4363;
  color: #ffffff; 
}
select {
  background-color: #0d4363;
  color: #ffffff; 
}

.white-text {
  color: white;
}

.white-border {
  border: solid 1px #fff;
}

.black-border {
  border: solid 1px #333;
}

button {
  background-color: #7ab829;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: #6ea22c;
}

::placeholder {
  color: #333333;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333333;
}

::-ms-input-placeholder {
  color: #333333;
}

.top {
  width: 100%;
  background-color: #1c1c27;
  position: absolute;
  padding: 20px 0px 10px 0px;
}

.logo {
  width: 50px;
  float: left;
  margin-left: 40px;
}

.menu {
  float: right;
  margin-right: 40px;
}

.menu li {
  display: inline;
  float: left;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu a {
  text-decoration: none;
  padding: 14px 16px;
  color: #333;
}

.menu a:hover {
  color: #05324e;
}

.highlight-content {
  width: 100%;
  height: 100%;
  min-height: 800px; 
}

.left {
  float:left;
  background-color: #05324e;
  width: 60%;
  height: 100%;
}

.right {
  float:right;
  background-color: #0d4363;
  width: 40%;
  height: 100%;
}

.blue-ocean {
  background-color: #0d4363;
}

.informations, .contact {
  margin: 100px 40px 40px 40px;
  color: white;
}

.main-contact {
  margin: 0px 60px 60px 40px;
}

.headline {
  margin-top: 30px;
  margin-left: 20px;
}

.video {
  margin: 40px;
}

.video img {
  max-width: 100%;
  max-height: 100%;
}

.page-content {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.page-title {
  padding: 100px 0px 60px 0px;
  background-color: #05324e;
  text-align: center;
}

.page-information {
  text-align: center;
  padding-top: 30px;
}

.page-information p{
  color: #333;
}

.footer {
  width: 100%;
}

.social-medias, .contact-area, .location {
  width: 33.333%;
  border-top:solid 1px #000000;
  float: left;
  text-align: center;
  background-color: #1c1c27;
  height: 250px;
}

.social-medias, .contact-area, .location p, span, a, h2 {
  color: #ffffff;
}

.social-medias img {
  margin: 0px 15px 0px 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 1px solid #1c1c27;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #0d4363 inset;
  transition: background-color 5000s ease-in-out 0s;
}